.display-none {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* Retirar o height depois */

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; 
}
