.display-none {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.l-gap {
  gap: 1rem;
}

.s-gap {
  gap: 0.25rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* BOTÃO BASE / BASE BUTTON */

.cb {
  padding: 0.35rem 2.25rem;
  margin-top: 1rem;
  border-radius: 50px;
  background-color: var(--purple-button);
  color: var(--white-font);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* BOTÃO BASE / BASE BUTTON */

.txt-shadow {
  text-shadow: 2px 2px 5px hsl(0, 0%, 0%, 25%);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.input-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.a-input {
  width: 40%;
  border: 1px solid transparent;
  padding: 0.35rem 0.5rem;
  box-sizing: border-box;
  outline: none;
  border-radius: 0.25rem;
}

.a-input:disabled {
  background-color: white;
}

.a-false {
  border: 1px solid var(--red-border);
}

.a-true {
  border: 1px solid var(--green-border);
}

.bg-pink {
    background-color: var(--pink-bg);
}

.bg-blue {
    background-color: var(--blue-bg);
}

.blue-font {
  color: var(--blue-font);
}

.purple-font {
  color: var(--purple-font);
}