.c-input-container {
    width: 40%;
    display: flex;
    position: relative;
    align-items: center;

}

.c-input {
    width: 100%;
    border: 1px solid transparent;
    padding: 0.35rem 0.5rem;
    box-sizing: border-box;
    outline: none;
    border-radius: 0.25rem;
}


.c-icon {
    position: absolute;
    cursor: pointer;
    right: 0.5rem;

}

.c-false {
    border: 1px solid var(--red-border);
  }
  
.c-true {
    border: 1px solid var(--green-border);
  }