.footer-container {
    background-color: var(--blue-bg);
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-around;
}

.temp {
    gap: 1rem;
}

.map-container {
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer-map {
    width: 50%;
    height: 20vh;
}

.socials {
    display: flex;
    justify-content: space-around;
}

.icons {
    width: 3vw;
    height: 3vh;
}

.f-anchor {
    cursor: pointer;
    color: black;
}

.f-anchor:hover {
    color: var(--white-font);
}

.fb-container {
    gap: 1rem;
    align-items: center;
}

.f-button {
    width: fit-content;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}

.f-button:hover {
    color: var(--white-font);
}

.f-active {
    position: relative;
    bottom: -1.75vh;
}