.footer-container {
    width: 100%;
    background-color: var(--blue-bg);
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-around;
    font-size: 0.85rem;
}

.footer-container span {
    font-size: 1.1rem;
    font-weight: bold;
}

.footer-container hr {
    width: 2px;
    background-color: var(--white-font);
}

.map-container {
    gap: 2.5rem;
    align-items: center;
}

.footer-map {
    width: 20vw;
    height: 20vh;
    justify-self: end;
}

.socials {
    display: flex;
    justify-content: space-around;
}

.icons {
    width: 3vw;
    height: 3vh;
}

.f-anchor {
    cursor: pointer;
    color: var(--black-font);
}

.f-anchor:hover {
    color: var(--white-font);
}

.fb-container {
    gap: 1rem;
}

.f-button {
    width: fit-content;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: underline;
    outline: none;
    cursor: pointer;
}

.f-button:hover {
    color: var(--white-font);
}

.f-active {
    position: relative;
    bottom: -1.75vh;
}