@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Tomorrow:wght@100;200;300;400;500;600;700;800&display=swap');



:root {
  --teste: hsl(240, 100%, 25%); /* Test color existence */
  --blue-anchor: hsl(233, 94%, 38%);
  --black-bg: hsl(0, 0%, 0%, 75%);
  --blue-bg: hsl(244, 53%, 59%);
  --dark-gray-bg: hsl(0, 0%, 65%);
  --light-blue-bg: hsl(244, 53%, 59%, 0.7);
  --gray-bg: hsl(249, 37%, 86%);
  --light-gray-bg: hsl(222, 48%, 95%);
  --light-yellow-bg: hsl(51, 94%, 75%, 0.3);
  --pink-bg: hsl(280, 75%, 89%);
  --red-bg: hsl(0, 100%, 50%);
  --search-bg: hsl(222, 48%, 95%);
  --white-bg: hsl(0, 0%, 100%);
  --blue-border: hsl(240, 100%, 25%);
  --green-border: hsl(120, 100%, 25%);
  --red-border: hsl(0, 100%, 50%);
  --purple-button: hsl(288, 97%, 50%);
  --black-font: hsl(0, 0%, 0%);
  --blue-font: hsl(244, 53%, 59%);
  --dark-blue-font: hsl(233, 94%, 38%);
  --purple-font: hsl(288, 97%, 50%);
  --white-font: hsl(0, 0%, 96%);
  --page-font-tomorrow: 'Tomorrow', sans-serif;
  --page-font-poppins: 'Poppins', sans-serif;
}

html {
  background-color: hsl(221, 61%, 93%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: var(--page-font-poppins);
}


/* Change the white to any color */

input:is(:-webkit-autofill, :-webkit-autofill:hover, :-webkit-autofill:focus, :-webkit-autofill:active) {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

select:is(:-webkit-autofill, :-webkit-autofill:hover, :-webkit-autofill:focus, :-webkit-autofill:active) {
  -webkit-box-shadow: 0 0 0 30px white inset !important; 
}