.nav-geral {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-bg);
}

.nav-container {
    width: 100%;
    max-width: 1560px;
    height: 9vh;
    max-height: 7rem;
    justify-content: space-around;
    box-sizing: border-box;
  }
  
  .nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .nav-logo img {
    width: 100%;
    height: 100%;
  }
  
  .nav-search {
    width: 50%;
  }

  .nav-form {
    width: 25rem;
    position: relative;
  }
  
  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35rem;
    position: absolute;
    top: 0.35rem;
    right: 0.75rem;
    cursor: pointer;
  }
  
  .nav-search input {
    width: 100%;
    height: 5vh;
    max-height: 2rem;
    border-radius: 25px;
    padding-left: 15px;
    background-color: var(--search-bg);
    outline: none;
  }
  
  .nav-content {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  
  .nav-content p {
    font-family: var(--page-font-tomorrow);
    font-size: 0.75rem;
  }
  
  .nav-links {
    color: var(--white-font);
    font-size: 700;
    text-decoration: none;
    font-weight: bold;
  }

  .user-wrapper {
    gap: 1rem;
  }

  .user-container {
    width: 8.75vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .username-container {
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    align-items: center;
  }

  .username-icon {
    font-size: 1.25rem;
  }

  .user-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  li {
    list-style-type: none;
  }

  .username {
    width: 84%;
    margin: 0;
    cursor: default;
  }

  .user-menu-container {
    width: 100%;
    position: relative;
  }

  .user-options-container {
    width: fit-content;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .user-options-content {
    width: fit-content;
    height: 100%;
    position: relative;
  }

  .user-options-content span {
    width: 0.1rem;
    height: 0.5rem;
    background-color: var(--red-bg);
    border: 1px solid var(--white-bg);
    border-radius: 1rem;
    padding: 0 0.2rem;
    font-size: 0.55rem;
    position: absolute;
    top: -0.1rem;
    right: 0.1rem;
    color: var(--white-font);   
  }

  .user-options-container hr {
    width: 2px;
    height: 50%;
    background-color: var(--white-font);
  }

  /* Profile Nav */
  
  .pn-container {
    position: absolute;
    width: 150%;
    max-width: 10rem;
    background-color: var(--blue-bg);
    color: var(--white-font);
    padding: 0.75rem 0.75rem;
    box-sizing: border-box;
    gap: 0.75rem;
    border-top: 1px solid var(--white-font);
    z-index: 999;
  }

  .pn-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
  }
  
  /* Profile Nav */

  /* Subnav */

  .sn-geral {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--pink-bg);
    justify-content: center;
    align-items: center;

  }

  .snav-container {
    width: 100%;
    max-width: 1440px;
    width: 100%;
    height: 6vh;
    max-height: 4rem;
    justify-content: center;
    align-items: center;

  }

  .snav-container hr {
    width: 3px;
    height: 100%;
    background-color: var(--white-font);
  }

  .sn-container {
    position: relative;
    width: 20%;
    height: 100%;
  }

  .sn-container a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .sn-content {
    position: absolute;
    width: 100%;
    background-color: var(--pink-bg);
    padding: 0.75rem 0.35rem;
    box-sizing: border-box;
    gap: 0.75rem;
    border-radius: 0 0 0.35rem 0.35rem;
    z-index: 998;
  }

  .sn-content hr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.17rem;
    background-color: var(--white-font);
  }

  .nlh {
    justify-content: center;
    align-items: center;
  }

  .nlh a {
    width: 100%;
    text-align: center;
  }

  .nlh:hover {
    background-color: var(--blue-bg);
    border-radius: 0.25rem;
  }

  /* Subnav */

  /* nitification bar */

  .nb-relative {
    position: relative;
  }

  .nb-container {
    position: absolute;
    right: 0;
    width: 500%;
    max-width: 20rem;
    align-items: center;
    padding: 0.75rem;
    box-sizing: border-box;
    border-top: 1px solid var(--white-font);
    background-color: var(--blue-bg);
    color: var(--white-font);
    gap: 1rem;
    z-index: 999;
  }

  .nb-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .nb-content {
    width: 100%;
    gap: 1.25rem;
  }

  .nb-fixer {
    gap: 1rem;
    align-items: center;
  }

  .nb-fixer hr {
    background-color: var(--white-bg);
    width: 90%;
    height: 1px;
  }

  .nb-item {
    width: 100%;
    gap: 0.5rem;
    text-decoration: none;
    cursor: pointer;
  }

  .nb-item-info {
    width: 70%;
    justify-content: center;
  }

  .nb-img-container  {
    width: 6vw;
    max-width: 5rem;
    height: 11vh;
    max-height: 5rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .nb-img-container img {
    width: 100%;
    height: 100%;
  }

  .item-type {
    color: var(--black-font);
    font-size: 0.75rem;
  }

  .item-name, .item-user-interested {
    color: var(--white-font);
  }

  .item-name {
    font-size: 1rem;
    font-weight: bold;
  }

  /* nitification bar */