.nav-container {
    width: 100%;
    height: 9vh;
    background-color: var(--blue-bg);
    justify-content: space-around;
    box-sizing: border-box;
  }
  
  .nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .nav-logo img {
    width: 100%;
    height: 100%;
  }
  
  .nav-search {
    width: 60%;
    position: relative;
  }
  
  .nav-search input {
    width: 40vw;
    height: 5vh;
    border: 1.75px solid var(--white-font);
    border-radius: 25px;
    padding-left: 15px;
    background-color: var(--search-bg);
    outline: none;
  }
  
  .nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  
  .nav-content p {
    font-family: var(--page-font-tomorrow);
    font-size: 0.75rem;
  }
  
  .nav-links {
    color: var(--white-font);
    font-size: 700;
    text-decoration: none;
    font-weight: bold;
  }
  
  .user-icon {
    height: 100%;
  }
  
  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5%;
    height: 5vh;
    position: absolute;
    top: 1.85vh;
    right: 10.25vw;
    cursor: pointer;
  }
  
  li {
    list-style-type: none;
  }

  .snav-container {
    height: 6vh;
    background-color: var(--pink-bg);
    justify-content: center;
    align-items: center;

  }

  .snav-container hr {
    width: 3px;
    height: 100%;
    background-color: var(--white-font);
  }

  .sn-container {
    position: relative;
    width: 20%;
    height: 100%;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }

  .sn-container a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .sn-content {
    position: absolute;
    top: 6vh;
    left: 0rem;
    width: 100%;
    background-color: var(--pink-bg);
    padding: 0.75rem 0.35rem;
    box-sizing: border-box;
    gap: 0.75rem;
    border-radius: 0 0 0.35rem 0.35rem;
  }

  .sn-content hr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.17rem;
    background-color: var(--white-font);
  }

  .nlh {
    justify-content: center;
    align-items: center;
  }

  .nlh a {
    width: 100%;
    text-align: center;
  }

  .nlh:hover {
    background-color: var(--blue-bg);
    border-radius: 0.25rem;
  }