.s-page {
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray-bg);
}

.s-container {
    width: 90%;
    height: 70%;
    align-items: center;
    justify-content: space-around;
}

.s-title {
    width: 75%;
    display: flex;
    justify-content: center;
    background-color: var(--blue-bg);
    color: var(--white-font);
    border-radius: 1rem;
    padding: 0.25rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: 500;
}

.s-terms {
    color: var(--blue-anchor);
    text-decoration: underline;
    cursor: pointer;
}

.sb-container {
    align-items: center;
}