.s-page {
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray-bg);
}

.s-container {
    width: 90%;
    height: 70%;
    align-items: center;
    justify-content: space-around;
}

.s-title {
    width: 75%;
    display: flex;
    justify-content: center;
    background-color: var(--blue-bg);
    color: var(--white-font);
    border-radius: 1rem;
    padding: 0.25rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: 500;
}

.input-boxes {
    width: 75%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.s-input {
    width: 40%;
    border: 1px solid transparent;
    padding: 0.35rem 0.5rem;
    box-sizing: border-box;
    outline: none;
    border-radius: 0.25rem;
}

.s-false {
    border: 1px solid var(--red-border);
}

.s-true {
    border: 1px solid green;
}

.s-terms {
    color: var(--blue-anchor);
    text-decoration: underline;
    cursor: pointer;
}

.sb-container {
    align-items: center;
}

.pw-icon {
    position: absolute;
    left: 28vw;
    top: 1.25vh;
    cursor: pointer;
}

.pwC-icon {
    position: absolute;
    right: 4vw;
    top: 1.25vh;
    cursor: pointer;
}