.s-page {
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray-bg);
}

.s-container {
    width: 90%;
    height: 70%;
    align-items: center;
    gap: 2.5rem;
}

.s-content {
    width: 70%;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.s-title {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--blue-bg);
    color: var(--white-font);
    border-radius: 1rem;
    padding: 0.25rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: 500;
}

.s-inner-content {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.s-terms {
    color: var(--blue-anchor);
    text-decoration: underline;
    cursor: pointer;
}

.sb-container {
    margin-top: 0.75rem;
    align-items: center;
}

.s-select {
    color: gray;
}